App_WebReferences/fel_101017/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Proceso_07_Completo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_docname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_docID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Proceso_07_CompletoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Proceso_07_CompletoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Proceso_08_RetornaDOC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="formato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Proceso_08_RetornaDOCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Proceso_08_RetornaDOCResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Proceso_09_AnularDocumentoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NITEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NITReceptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaEmision" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Proceso_09_AnularDocumentoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Proceso_09_AnularDocumentoXMLResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Proceso_10_Validar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_docname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_docID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Proceso_10_ValidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Proceso_10_ValidarResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Proceso_07_CompletoSoapIn">
    <wsdl:part name="parameters" element="tns:Proceso_07_Completo" />
  </wsdl:message>
  <wsdl:message name="Proceso_07_CompletoSoapOut">
    <wsdl:part name="parameters" element="tns:Proceso_07_CompletoResponse" />
  </wsdl:message>
  <wsdl:message name="Proceso_08_RetornaDOCSoapIn">
    <wsdl:part name="parameters" element="tns:Proceso_08_RetornaDOC" />
  </wsdl:message>
  <wsdl:message name="Proceso_08_RetornaDOCSoapOut">
    <wsdl:part name="parameters" element="tns:Proceso_08_RetornaDOCResponse" />
  </wsdl:message>
  <wsdl:message name="Proceso_09_AnularDocumentoXMLSoapIn">
    <wsdl:part name="parameters" element="tns:Proceso_09_AnularDocumentoXML" />
  </wsdl:message>
  <wsdl:message name="Proceso_09_AnularDocumentoXMLSoapOut">
    <wsdl:part name="parameters" element="tns:Proceso_09_AnularDocumentoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="Proceso_10_ValidarSoapIn">
    <wsdl:part name="parameters" element="tns:Proceso_10_Validar" />
  </wsdl:message>
  <wsdl:message name="Proceso_10_ValidarSoapOut">
    <wsdl:part name="parameters" element="tns:Proceso_10_ValidarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Proceso_07_Completo">
      <wsdl:input message="tns:Proceso_07_CompletoSoapIn" />
      <wsdl:output message="tns:Proceso_07_CompletoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Proceso_08_RetornaDOC">
      <wsdl:input message="tns:Proceso_08_RetornaDOCSoapIn" />
      <wsdl:output message="tns:Proceso_08_RetornaDOCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Proceso_09_AnularDocumentoXML">
      <wsdl:input message="tns:Proceso_09_AnularDocumentoXMLSoapIn" />
      <wsdl:output message="tns:Proceso_09_AnularDocumentoXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Proceso_10_Validar">
      <wsdl:input message="tns:Proceso_10_ValidarSoapIn" />
      <wsdl:output message="tns:Proceso_10_ValidarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Proceso_07_Completo">
      <soap:operation soapAction="http://tempuri.org/Proceso_07_Completo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proceso_08_RetornaDOC">
      <soap:operation soapAction="http://tempuri.org/Proceso_08_RetornaDOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proceso_09_AnularDocumentoXML">
      <soap:operation soapAction="http://tempuri.org/Proceso_09_AnularDocumentoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proceso_10_Validar">
      <soap:operation soapAction="http://tempuri.org/Proceso_10_Validar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Proceso_07_Completo">
      <soap12:operation soapAction="http://tempuri.org/Proceso_07_Completo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proceso_08_RetornaDOC">
      <soap12:operation soapAction="http://tempuri.org/Proceso_08_RetornaDOC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proceso_09_AnularDocumentoXML">
      <soap12:operation soapAction="http://tempuri.org/Proceso_09_AnularDocumentoXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proceso_10_Validar">
      <soap12:operation soapAction="http://tempuri.org/Proceso_10_Validar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://10.10.1.7:9191/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://10.10.1.7:9191/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>